# Data Transformation and Manipulation - Solutions

In this activity we will be manpulating data from a business. We will be using four datasets, corresponding to three departments,a fourth one containing the managers of the business, and a fifth one that contains all of the employees, but has different data on them. Our goal is to put all of these together in one dataset, so it is easier for the business management.


### How does this notebook work?

Run the cells with code written on them. To do this, you can select them and press Shift + Enter or press the "Play" button on the left side of the cell (if you do not see this, hover with the mouse on the cell and it should appear). Remember that all cells need to be run in order, even those in which you did not need to write any code. If you think you might have skipped one, on the left side of the cell you will find the line number, which corresponds to the order in which you have ran the cells. Keep in mind that if you run a cell and it gets numbered as 4, if you run the same cell immediately after it will be renumbered to 5.

Looking at the code you will notice some parts are incomplete and have '\_\_' written instead. This means that you need to complete that part of the code. In some other parts, you will need to write your own code. This will be specified.

You will also find [hyperlinks]() to documentation on different functions that we will use. It is recommended to look at them to familiarise yourself with what you are doing and how they work.

There are also questions to be completed in text cells. Click twice on them to start editing them or select them and press Enter, and press Shift+Enter when you are finished to go back to reading mode. The questions can be answered in one or two sentences in general.

In [1]:
import numpy 
import os
import matplotlib.pyplot 
import math
import seaborn 
import pandas

Here you have links to the libraries we have imported:

[OS library](https://docs.python.org/3/library/os.html): Library with different useful functions to interact with the Operating System. We will be using this for loading the datasets.

[Pandas](https://pandas.pydata.org/): Pandas is a tool for data analysis and manipulation.

[Seaborn](https://seaborn.pydata.org/): Seaborn is a library specialised in statistical data visualisation.

[Numpy](https://numpy.org/): Numpy is the Python library for mathematics. We will use it for performing operations on our data.

[Matplotlib](https://matplotlib.org/): Matplotlib is another library specilised in visualisation for Python.

[Math module](https://docs.python.org/3/library/math.html): This module provides mathematical functions defined by the C standard.

We will now load the datasets. 

For this we have to get the path to the data we are using, and then read the file. In this case, it is in the datasets folder inside our working directory called 'datasets', and the files that we will be using are the following:
    
    - it_department.csv: Contains the employees in the IT department.
    - hr_department.csv: Contains the employees in the Human Resources department.
    - sales_department.csv: Contains the employees in the Sales department.
    - managers.csv: Contains the managers of the business.
    - employees.csv: Contains all the people who work in the business.

In [2]:
#Get the path to the files we will be using.
path_it = os.path.join(os.getcwd(), 'datasets', 'it_department.csv')
path_hr = os.path.join(os.getcwd(), 'datasets', 'hr_department.csv')
path_sales = os.path.join(os.getcwd(), 'datasets', 'sales_department.csv')
path_managers = os.path.join(os.getcwd(), 'datasets', 'managers.csv')
path_employees = os.path.join(os.getcwd(), 'datasets', 'employees.csv')

#Load the data into the countries_info variable. This results in a DataFrame object.
it_dpt = pandas.read_csv(path_it, delimiter = ';')
hr_dpt = pandas.read_csv(path_hr, delimiter = ';')
sales_dpt = pandas.read_csv(path_sales, delimiter = ';')
managers = pandas.read_csv(path_managers, delimiter = ';')
employees = pandas.read_csv(path_employees, delimiter = ';')

We will now look at the attributes of each of the datasets that we have loaded using the [.columns](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html) attribute.

In [3]:
print(it_dpt.columns)
print(hr_dpt.columns)
print(sales_dpt.columns)
print(managers.columns)
print(employees.columns)

Index(['name', 'office', 'phone_extension'], dtype='object')
Index(['name', 'office', 'phone_extension'], dtype='object')
Index(['name', 'office', 'phone_extension'], dtype='object')
Index(['name', 'office', 'phone_extension', 'department'], dtype='object')
Index(['name', 'monthly_salary', 'birthdate', 'gender', 'manager'], dtype='object')

***Do all the files contain the same attributes? Which file(s) is different to the others?***

The managers file has a 'department' column that the others do not, and the employees file has different attributes except for the name.

We now have all the files for each of the departments, but we only know which department they belong to by the name of their variable. As we will be putting together all the datasets, we do not want to lose this information. To avoid this, we will now add a column to the three department datasets with the name of the department. To add a column in the dataframe, we just need to give it a name and a list of values to assign. If we use only one value, then this will be applied to all the columns in that dataframe.

In [4]:
#Add a column to the IT department dataset
it_dpt['department'] = 'it'
#Do the same as above to add a column for the sales and HR departments
hr_dpt['department'] = 'hr'
sales_dpt['department'] = 'sales'

#Look at the HR file to check that the new column has been added
hr_dpt

             name  office  phone_extension department
0  Nicole Vincent    1.11             1110         hr
1   Maisha Hughes    1.12             1120         hr
2      Omer Robin    1.11             1111         hr
3        Dawid Wu    1.13             1130         hr
4        Jamie Do    1.14             1140         hr

The employees dataset contains information that the other files do not. If we wanted to join the IT department's information with the employee's, we would need to find an attribute that is common in both datasets. ***Looking at the column names we extracted earlier, is there any common attribute that would allow us to do this, ie: a key?***

The key or common attribute would be the name of the employee.

The name of the employees would be our key in case of joining the datasets. It would be useful to the employer to have all the employee information in one file. There are two joining techniques: appending and merging. The first one adds one dataset to the end of the other, and merging adds new columns and uses a key to do this.

***In this case, if we wanted to create a dataset with all the information for each employee, which joining technique should we use?***

We need to merge the datasets because we have different information about each employee in the employees file and the other ones.

If we want to merge the datasets, we need to check that they have the right size and that we would not be loosing any data on the way. A way to do this is to check the number of unique names in the employees file and compare it to that of the other files together through the function [nunique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html).

In [5]:
#Get the number of names in the employees data
num_employees = employees['name'].nunique()
print ("There are ",num_employees, " unique names in the employee file")

There are  17  unique names in the employee file

To count how many unique names there are in all of the data files, we can put them together as one and then use again the nunique() function. As this function only counts how many unique elements there are, we do not need to worry if the same name is in more than one data file, it will only be counted once.

In [6]:
#Put them together
appended_dpts = it_dpt.append(hr_dpt)
appended_dpts = appended_dpts.append(sales_dpt)
appended_dpts = appended_dpts.append(managers)
#Count how many there are
print("There are ",appended_dpts['name'].nunique(dropna=True), " unique names in all the files")

There are  17  unique names in all the files

We have now seen that the numbers are the same. But it could be that there are different names in both lists. To check for this, we see if the list of unique names from the general list is contained in the appended one with the [issubset()](https://www.w3schools.com/python/ref_set_issubset.asp) function.

In [7]:
#Write the key we decided on earlier 
set(employees['name']).issubset(set(appended_dpts['name']))

True

Now that we know that they are the same, we can merge them into a bigger dataset with the information of all the workers. Recall the following types of merge:

    - Left join
    - Right join
    - Inner join
    - Outer join/ Full join

Given these, ***which type of merge do you think would be appropiate for this case?***
An outer join would be better. It could be the case that an employee does not show in one of the files, and if it was an inner join their information would be lost.

We will use the Pandas function [merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) to merge the two datasets.

In [13]:
#Do the merge here
merged_data = employees.merge(appended_dpts, on='name', how='outer')
merged_data

,name,monthly_salary,birthdate,gender,manager,office,phone_extension,department
0,Jamie Do,1800,04/04/1980,NB,Betty,1.14,1140,hr
1,Jamie Do,1800,04/04/1980,NB,Betty,1.14,1140,hr
2,Alice Duran,1700,03/12/1969,F,Betty,3.12,3120,it
3,Alice Duran,1700,03/12/1969,F,Betty,3.12,3120,it
4,Bob Gill,1800,23/02/1970,M,Betty,2.12,2120,sales
5,Bob Gill,1800,23/02/1970,M,Betty,2.12,2120,sales
6,Betty Dolan,2500,25/06/1963,F,NaN,2.15,2150,NaN
7,Nicole Vincent,1500,25/06/1963,F,Jamie,1.11,1110,hr
8,Maisha Hughes,1500,07/03/1975,F,Jamie,1.12,1120,hr
9,Omer Robin,1500,25/02/1977,M,Jamie,1.11,1111,hr
10,Dawid Wu,1500,21/09/1968,M,Jamie,1.13,1130,hr
11,Lula Mendez,1500,05/10/1955,F,Alice,3.14,3140,it
12,Charles Tucker,1500,21/12/1989,M,Alice,3.14,3141,it
13,Alex Yaar,1500,19/11/1969,NB,Alice,3.15,3150,it
14,Lewis Craft,1500,08/10/1973,M,Alice,3.11,3110,it
15,Vihaan Donaldson,1500,15/05/1985,M,Alice,3.11,3111,it
16,Isaac Byrne,1500,22/03/1962,M,Bob,2.10,2100,sales
17,Nyota Uhura,1500,19/01/1978,F,Bob,2.13,2130,sales
18,Jadzia Dax,1500,27/04/1985,F,Bob,2.13,2131,sales
19,Erika Bouvet,1500,05/08/1969,F,Bob,2.10,2101,sales

Notice that some of the employees appear twice, and have exactly the same information. When we appended the datasets earlier, we did not check for employees that could appear in more than one dataset. We will use the function [drop_duplicates()]() to delete those entries that are duplicated.

In [9]:
#Drop the duplicates
merged_data = merged_data.drop_duplicates()
merged_data

,name,monthly_salary,birthdate,gender,manager,office,phone_extension,department
0,Jamie Do,1800,04/04/1980,NB,Betty,1.14,1140,hr
2,Alice Duran,1700,03/12/1969,F,Betty,3.12,3120,it
4,Bob Gill,1800,23/02/1970,M,Betty,2.12,2120,sales
6,Betty Dolan,2500,25/06/1963,F,NaN,2.15,2150,NaN
7,Nicole Vincent,1500,25/06/1963,F,Jamie,1.11,1110,hr
8,Maisha Hughes,1500,07/03/1975,F,Jamie,1.12,1120,hr
9,Omer Robin,1500,25/02/1977,M,Jamie,1.11,1111,hr
10,Dawid Wu,1500,21/09/1968,M,Jamie,1.13,1130,hr
11,Lula Mendez,1500,05/10/1955,F,Alice,3.14,3140,it
12,Charles Tucker,1500,21/12/1989,M,Alice,3.14,3141,it
13,Alex Yaar,1500,19/11/1969,NB,Alice,3.15,3150,it
14,Lewis Craft,1500,08/10/1973,M,Alice,3.11,3110,it
15,Vihaan Donaldson,1500,15/05/1985,M,Alice,3.11,3111,it
16,Isaac Byrne,1500,22/03/1962,M,Bob,2.10,2100,sales
17,Nyota Uhura,1500,19/01/1978,F,Bob,2.13,2130,sales
18,Jadzia Dax,1500,27/04/1985,F,Bob,2.13,2131,sales
19,Erika Bouvet,1500,05/08/1969,F,Bob,2.10,2101,sales

We now have all the data of all the employees in one dataset. This will be useful in case some analysis needs to be done in the business in general, like a study on the salaries of its employees. Merging is an important technique when working on datasets, but it is important to use it when necessary and keep in mind that datasets can grow very fast if the ones being merged are big. One of the ways to avoid this is to check for duplicate data, as we did.